@import "node_modules/bootstrap/scss/bootstrap";

.bg-gradient {
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ee2e24, #f9a01b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ee2e24, #f9a01b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.material-icons {
  vertical-align: bottom;
}

.vertical-center {
  align-items: center;
  height: 100%;
  /* width: 100%; */
  display: flex;
}

.navbar-brand img {
  margin-right: 5px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.carousel-inner {
  max-height: 500px;
}
.bg-hero {
  margin: 0 0 3.25rem 0 !important;
  background: url(images/slide-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-hero h1,p {
  color: white;
}

.items h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #5a5a5a;
  margin-top: 0.8rem;
}
.items .col-md-3 {
  margin-bottom: 2rem;
  text-align: center;
}
.testimonials {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.testimonials .rounded-circle {
  margin-right: 2rem;
}
.testimonials .quote-text {
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.bg-grey {
  background-color: #424242;
}

footer {
  font-size: 0.9rem;
  padding: 4.5rem 0;
}
footer .btn-sm {
  padding: 0.1rem 0.7rem;
}
.video {
  width: 100%;
  height: 600px;
}
@media (max-width: 991px) {
  .video {
      height: 400px;
  }
}
@media (max-width: 766px) {
  .video {
      height: 300px;
  }
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.table {
  margin-bottom: 0.5rem;
}
.card-text p {
  color: black;
}
.text-light a {
  color: #adb5bd;
  transition: color .1s ease;
  text-decoration: none;
}
.text-light a:hover {
    color: #fff;
    transition: color .1s ease;
}
.text-light .text-muted  {
  color: #adb5bd !important;
}
.text-light .text-muted a  {
  color: #c7cfd8 !important;
}
.footer-text {
  color: #c7cfd8;
}
@media (max-width: 768px) {
  .col-md-3 {
      width: 32%;
  }
}
@media (max-width: 500px) {
  .col-md-3 {
      width: 50%;
  }
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 0px;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}
